@media only screen and (min-width: 765px) {
  .Destination-List > header img {
    height: 50px;
    width: 50px;
  }
  .Destination-List h1.destinationTitle {
    font-size: 4em;
    flex-basis: 100%;
  }
  .Destination-List h1 > span:nth-child(2) {
    padding-left: 30px;
  }
  .Destination-List h5 {
    font-size: 2em;
  }
  .Destination-List .circle {
    padding: 5%!important;
    margin-top: 10px!important;
    width: 50px;
    height: 50px;
    margin-bottom:15px;
  }
  .destination-item-control i {
    font-size:20px;
  }
  .DestinationInfo footer {
    max-width: 70%;
  }
   .form-element {
    max-width: 70%;
  }
}
@media only screen and (min-width: 990px) {
  .destinations-container > div {
    max-width: 30%;
  }
  .destinations-container {
    justify-content: center;
  }
  .circle {
    height: 80px;
    width: 80px;
  }
}
/* @media only screen and (min-width: 1196px) {
  .Destination-List .card {
    max-width: 441px;
  }
  .Destination-List .card div.row {
    max-width: 469px;
  } */
}
