body #root {
  height: 100vh;
}

.main-text-height {
  height: 80%;
}

h1 {
  font-family: 'Roboto Slab';
  font-weight: 600;
}

header > img {
  margin-top: 20px;
  height: 10%;
}

.card {
  min-height: 100px;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
}

div.card-body {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

div.Destination-List > h1 {
  padding-left: 15px
}

.circle-blue {
  background-color: #6CC4C8;
  border-radius: 50%;
}

.circle-red {
  background-color: #EA6A61;
  border-radius: 50%;
}

.icon {
  width: 50%;
  height: 50%;
  position: relative;
  width: 100%;
}
.icon-add {
  width: 31px;
}

.icon-left {
  width: 31px;
}

.progress-bar {
  background-color: #6CC4C8;
}

.main-text {
  text-align: center;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
}
